*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to right, red, orange, yellow, blue, blueviolet);
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    padding: 20px;
    margin: 10px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: black;
}
input:hover{
    border-radius: 30px;
}
input:focus{
    transform: scale(2, 2);
}

.rotar{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    transition: width 2s, height 2s;
}
.rotar:hover{
    height: 200px;
    width: 300px;
}
h1{
    text-align: center;
    color: darkblue;
    animation-name: animacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes animacion {
    0%{
        color: blue;
        font-size: 24px;
    }
    25%{
        color: brown;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 100px;
    }
    50%{
        color: chartreuse;
        transform: rotate(35deg);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    75%{
        color: dimgrey;
        font-size: 5px;
        
    }
    100%{
        color: darkorchid;
        font-size: 150px;
        background-color: chocolate;
    }
}